{% if menu is not defined %}
    {% set menu = "" %}
{% endif %}

{% set rolesMenu = ['ROLE_USER_LIST', 'ROLE_GROUP_LIST', 'ROLE_AREAS_LIST', 'ROLE_EMPLEADOS_LIST', 'ROLE_PROPIEDADES_LIST'] %}

{% set listMenu =  [] %}

<nav class="znv-nav">
    <div class="znv-nav-section">
        <h3>{{ 'page.menu.menu'|trans }}</h3>
        <ul>
            {{ macro_liNav((menu == "dashboard"), 'home', 'page.dashboard.title'|trans, ['ROLE_USER'], 'fa-home') }}
            
            {% if app.user.isSuperAdmin %}
                {{ macro_liNav((menu == "user"), 'user_list', 'page.menu.user'|trans, ['ROLE_USER_LIST'], 'fa-user') }}
                {{ macro_liNav((menu == "group"), 'group_list', 'page.menu.group'|trans, ['ROLE_GROUP_LIST'], 'fa-users') }}
                <hr />
                 {{ macro_liNav((menu == "empleados"), 'empleados_list', 'page.menu.empleados'|trans, ['ROLE_EMPLEADOS_LIST'], 'fa-users') }}
                 <hr />
                 {{ macro_liNav((menu == "areas"), 'areas_list', 'page.menu.areas'|trans, ['ROLE_AREAS_LIST'], 'fa-users') }}
            {% endif %}
            {# PARA EL USUARIO COMUN #}
            {% if app.user.hasRole(rolesMenu) and not app.user.isSuperAdmin %}           
                {{ macro_liNav((menu == "empleados"), 'empleados_list', 'page.menu.empleados'|trans, ['ROLE_EMPLEADOS_LIST'], 'fa-users') }}                                                             
            {% endif %}
        </ul>
    </div><!-- znv-nav-section -->
</nav>
