<br />
<a href="{{ path('export', {'empleado' : empleado.id, 'desde' : desde, 'hasta' : hasta}) }}" class="znv-button">Descargar!</a> 
<br/><br/>
{% for info in data %}
    {# <h4 style="font-size: 1.5em"><span class="badge badge-info"><strong>Fecha: {{ info.fecha | date('d-m-Y') }} - Parte Numero: {{ info.numero}}</strong></span></h4>     #}
    <div class="znv-card-full">           
    <div class="znv-list-container">
        <div class="znv-header">
            <div class="znv-col "> Fecha
            </div> 
            {% for key,value in headers %}            
                <div class="znv-col "> {{ value.clave }}
                </div>    
            {% endfor %}                     
        </div>
         {% if info.datos| length == 0 %}                                
                <div class="<znv-list-empty">
                    <h4>Sin Actividad</h4>
                </div>                                         
        {% endif %}

        {% set fechaRef = info.fecha %}

    {% if fechaRef == info.fecha %}           
    <div class="znv-line">                                                                                                                        
         <div class="znv-col">
            <div class="znv-header">Fecha</div>    
            {{ info.fecha |date('d') }}  
         </div>               
        {% for key,value in info.datos %}                                                     
         <div class="znv-col">       
                    <div class="znv-header">{{ value.clave }}</div>                                                                                                                      
                        {{ value.valor }} 
        </div>                                                                                          
        {% endfor %}
    
    </div>          
    {% endif %}
        </div>
    </div>   
{% endfor %}
